@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

$custom-colors: (
  'custom-color': rgb(112, 66, 193),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: map-merge(
  $utilities,
  (
    'rounded-top-right': (
      property: border-top-right-radius,
      class: rounded-top-right,
      responsive: true,
      values: (
        1: var(--#{$prefix}border-radius-sm),
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'rounded-bottom-left': (
      property: border-bottom-left-radius,
      class: rounded-bottom-left,
      responsive: true,
      values: (
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
  )
);

@import 'bootstrap/scss/bootstrap';
